<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
	
	<!-- *************************************************************************** -->
	<!-- *************************************************************************** -->
	<!-- tiles2 layout config -->
	<!-- *************************************************************************** -->
	<!-- *************************************************************************** -->
	<!-- 
	JUnit에서 실행시에는 스프링 환경파일을 로드할 때 포함시키지 않기 위해 common-servlet.xml 파일에서 분리함
	Web Container에서 구동시에는 사용됨	
	-->
	<beans:bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
	  	<property name="definitions">
	    	<list>
	      		<!-- 
	      		<value>/WEB-INF/config/tiles/tiles-defs.xml</value>
	      		-->
	      		<value>classpath:config/tiles/tiles-defs.xml</value> 
	      		<value>classpath:config/tiles/tiles-defs-prototype.xml</value> 
	    	</list>
	  	</property>
	  	<!-- 
	  	<property name="definitions" ref="configTiles" />
		-->
	</beans:bean>
	<!--  
	<util:list id="configTiles" list-class="java.util.LinkedList">
		<value>/WEB-INF/config/tiles/tiles-defs.xml</value>
	</util:list>
	-->
	
</beans:beans>