@CHARSET "UTF-8";
/* @import url("default.css"); */

/* Common */
html, body {height:100%;}
/*  
body{font:11px/1.3 "돋움", "Dotum", sans-serif;} 글자크기는 11px 행간격은 1.3배
브라우저기본폰트크기는 16px 62.5% = 10px, 68.75 = 11px, 75 = 12px
*/
body{font-size:75%;}
input,button,textarea,select{font-size:100%;}
body,input,button,textarea,select{color:#333; line-height:1.2; font-family:'돋움', Dotum, sans-serif, AppleGothic;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a:hover,a:active,a:focus{text-decoration:underline;}
a, a:visited{color:#666;}
textarea{overflow:auto;} 


a.linkStyle {color:#0068b7; text-decoration:underline;}



/* Global */
button,label{cursor:pointer;_cursor /**/:hand}
button span,button em,button img{position:relative}
button img{left:-3px;*left:auto}



/* UI Object */
#wrap{width:100%;}
#header{width:100%;}
#container{_display:inline-block;width:100%;}
#container:after{display:block;clear:both;content:'';}
.snb{float:left;width:180px;margin-right:-200px;}
#content{margin-left:200px;}
#footer{width:100%;}


/* Layout Color - 실제 서비스 적용 후 아래 코드는 삭제 하세요 */
/*
div{margin:0 0 10px;padding:10px 0;color:#2d2c2d;font-family:Tahoma;font-size:14px;font-weight:bold;}
*/
#wrap{width:auto;margin:0;padding:10px;border:1px solid #bdbdbd;background:#f7f7f7;}
#header{margin-top:10px;}
#header,#container{width:auto;padding:10px;border:2px solid #bfbfbf;background:#e5e5e5;}
.snb,#content{margin-top:10px;border:1px solid #bdbdbd;background:#fff;}
#content{height:200px;}
#footer{width:auto;padding:10px;border:2px solid #bfbfbf;background:#e5e5e5;}
/* //UI Object */





/* Table 목록 */
.bbs_property{width:100%;border:none;border-bottom:2px solid #dcdcdc;font:12px Dotum;text-align:center;border-collapse:collapse}
.bbs_property caption{display:none}
.bbs_property tfoot{background-color:#f5f7f9;font-weight:bold}
.bbs_property th{padding:7px 0 4px;border-top:2px solid #dcdcdc;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;background-color:#f5f7f9;}
.bbs_property td{padding:6px 0 4px;border:1px solid #e5e5e5;}
.bbs_property td.title{text-align:left; padding:0 10px;}



/* Table 상세보기 */
.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;border-bottom:1px solid #dddee2;table-layout:fixed}
.tbl_type caption{display:none}
.tbl_type th{padding:8px 0 5px 20px;border-top:1px solid #dddee2;background:#f1f1f3;font-weight:bold;text-align:left;vertical-align:top}
.tbl_type td{padding:8px 5px 5px 12px;border-top:1px solid #dddee2;line-height:16px;vertical-align:top}




/* Paginate */
.paginate{padding:15px 0;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;_width /**/:17px;margin-right:1px;padding:3px 3px 5px;border:1px solid #fff;color:#000;font-family:Verdana;font-size:13px;font-weight:bold;line-height:normal;text-decoration:none}
.paginate strong{border:1px solid #e9e9e9;color:#f23219 !important}
.paginate .pre{margin-right:9px;padding:7px 6px 5px 16px;background:url(http://static.naver.com/common/paginate/bu_pg3_l_off.gif) no-repeat 6px 9px !important}
.paginate .next{margin-left:9px;padding:7px 16px 5px 6px;background:url(http://static.naver.com/common/paginate/bu_pg3_r_off.gif) no-repeat 71px 9px !important}
.paginate a.pre{background:url(http://static.naver.com/common/paginate/bu_pg3_l_on.gif) no-repeat 6px 9px !important}
.paginate a.next{background:url(http://static.naver.com/common/paginate/bu_pg3_r_on.gif) no-repeat 74px 9px !important}
.paginate .pre,.paginate .next{display:inline-block;position:relative;top:1px;_width /**/:84px;border:1px solid #e9e9e9;color:#ccc;font-family:'굴림',Gulim;font-size:12px;line-height:normal}
.paginate a.pre,.paginate a.next{color:#565656}
.paginate a:hover{border:1px solid #e9e9e9;background-color:#f7f7f7 !important}



