<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->


<mapper namespace="prototype.board">
	
	
	
	<select id="select-count" parameterType="map" resultType="int">
		SELECT COUNT(*)
		  FROM TB_BOARD
		 WHERE CODE = #{code}
		   AND USE_YN = 'Y'
	</select>
	
	
	<select id="select-list" parameterType="map" resultType="map">
		SELECT CODE
		     , SEQ
		     , GRP_SEQ
		     , REF_SEQ
		     , SUBJECT
		     , READ_CNT
		     , OPEN_YN
		     , CREATE_USER_ID
		     , CREATE_USER_NM
		     , CREATE_DT
		     , RNUM
		  FROM (           SELECT CODE
		                        , SEQ
		                        , GRP_SEQ
		                        , REF_SEQ
		                        , SUBJECT
		                        , READ_CNT
		                        , OPEN_YN
		                        , CREATE_USER_ID
		                        , USER_NM CREATE_USER_NM
		                        , CREATE_DT
		                        , ROWNUM RNUM
		                     FROM TB_BOARD A, TB_USER B
		                    WHERE A.CREATE_USER_ID = B.USER_ID
		                      AND CODE = #{code}
		                      AND USE_YN = 'Y'
		               START WITH REF_SEQ = 0
		               CONNECT BY PRIOR SEQ = REF_SEQ
		        ORDER SIBLINGS BY GRP_SEQ DESC, SEQ)
		 WHERE RNUM BETWEEN #{startPageNum} AND #{endPageNum}
	</select>
	
	
	
	<insert id="insert" parameterType="map">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			SELECT NVL(MAX(SEQ), 0) + 1 SEQ 
			  FROM TB_BOARD
			 WHERE CODE = #{code}
		</selectKey>
		INSERT INTO TB_BOARD (CODE
		                    , SEQ
		                    , GRP_SEQ
		                    , SUBJECT
		                    , MEMO
		                    , OPEN_YN
		                    , CREATE_USER_ID
		                    , CREATE_DT
		                    , CREATE_IP
		                    )
		     VALUES (#{code}
		           , #{seq}
		           , #{seq}
		           , #{subject}
		           , #{memo}
		           , #{openYn}
		           , #{createUserId}
		           , SYSDATE
		           , #{createIp}
		           )
	</insert>
	
	
	<select id="select" parameterType="map" resultType="resultMap">
		SELECT CODE
		     , SEQ
		     , GRP_SEQ
		     , REF_SEQ
		     , SUBJECT
		     , MEMO
		     , READ_CNT
		     , USE_YN
		     , OPEN_YN
		     , DECODE(OPEN_YN, 'Y', '공개', 'N', '비공개') OPEN_YN_NM
		     , CREATE_USER_ID
		     , B.USER_NM CREATE_USER_NM
		     , CREATE_DT
		     , CREATE_IP
		     , UPDATE_USER_ID
		     , UPDATE_DT
		     , UPDATE_IP
		  FROM TB_BOARD A, TB_USER B
		 WHERE A.CREATE_USER_ID = B.USER_ID
		   AND CODE = #{code}
		   AND SEQ = #{seq}
	</select>
	
	
	
	<delete id="delete" parameterType="map">
		DELETE FROM TB_BOARD
		 WHERE CODE = #{code} 
		   AND SEQ = #{seq}
	</delete>
	
	
	
	<update id="update" parameterType="map">
		UPDATE TB_BOARD SET 
				SUBJECT = #{subject}
			  , MEMO = #{memo}
			  , OPEN_YN = #{openYn}
			  , UPDATE_USER_ID = #{updateUserId}
		      , UPDATE_DT = SYSDATE
		      , UPDATE_IP = #{updateIp}
		 WHERE CODE = #{code} 
		   AND SEQ = #{seq}
	</update>
	
	
	
	<update id="update-read-count" parameterType="map">
		UPDATE TB_BOARD SET
				READCNT = READCNT + 1
		 WHERE CODE = #{code} 
		   AND SEQ = #{seq}
	</update>
	
	
	
</mapper>
